@import url("reset.css");

/* || Custom properties */
:root {
  --color-blue: hsl(223 87% 63%);
  --color-pale-blue: hsl(223 100% 88%);
  --color-light-red: hsl(354 100% 66%);
  --color-gray: hsl(0 0% 59%);
  --color-dark-blue: hsl(209 33% 12%);
  --font: "Libre Franklin", sans-serif;
}

/* || Global styles */
body {
  background-color: white;
  font-size: 1.25rem;
  font-family: var(--font);
  padding: 2.25rem;
}
