@import url("reset.css");

/* || Custom properties */
:root {
  --color-blue: hsl(223 87% 63%);
  --color-pale-blue: hsl(223 100% 88%);
  --color-light-red: hsl(354 100% 66%);
  --color-gray: hsl(0 0% 59%);
  --color-dark-blue: hsl(209 33% 12%);
  --font: "Libre Franklin", sans-serif;
}

/* || Global styles */
body {
  background-color: white;
  color: var(--color-dark-blue);
  font-size: 0.75rem;
  font-family: var(--font);
  padding: 2.25rem;
  display: flex;
  justify-content: center;
}

a:focus-visible,
button:focus-visible {
  outline: 0.2rem solid var(--color-blue);
  outline-offset: 0.2rem;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* || Page styles */
.page {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

/* || Header styles */
.header {
  display: flex;
  justify-content: center;
  padding-top: 2.75rem;
}

.header__link {
  transition: transform 0.2s ease-in-out 0s;
}

.header__link:hover {
  transform: scale(1.15);
}

.header__logo {
  width: 3.5rem;
  height: 1.5rem;
  object-fit: contain;
}

/* || Hero styles */
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__text-content {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.hero__heading {
  font-size: 1.375rem;
  font-weight: 400;
  color: var(--color-gray);
}
.hero__heading--bold {
  font-weight: 700;
  color: var(--color-dark-blue);
}

.hero__image {
  margin-top: 2.5rem;
}

/* || CTA form styles */
.cta-form {
  padding-inline: 0.75rem;
  display: grid;
}

.cta-form__input {
  font-weight: 300;
  border-radius: 1.75rem;
  border: 1px solid var(--color-pale-blue);
  box-shadow: 0 0 0.4375rem 0.1875rem hsl(0 0% 0% / 0);
  padding: 0.625rem 2rem;
}

.cta-form__input::placeholder {
  color: var(--color-pale-blue);
}

.cta-form__input--error {
  border: 1px solid var(--color-light-red);
}

.cta-form__submit {
  cursor: pointer;
  font-weight: 600;
  border-radius: 1.75rem;
  border: none;
  box-shadow: 0 0.3125rem 0.625rem 0.125rem hsl(223 87% 63% / 0.23);
  padding: 0.75rem 2rem;
  background-color: var(--color-blue);
  color: white;
  transition: opacity 0.2s ease-in-out 0s;
  margin-top: 0.625rem;
}

.cta-form__submit:hover {
  opacity: 0.8;
}

.cta-form__error {
  color: var(--color-light-red);
  font-style: italic;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 0.625rem;
  display: none;
}

.cta-form__error--visible {
  display: block;
}

.cta-form__error-message {
  letter-spacing: 0.0125em;
  font-size: 0.625rem;
}

/* || Footer styles */
.footer {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.6875rem;
}

.footer__social-links {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.footer__social-link {
  display: inline-flex;
  border: 1px solid hsl(223 87% 63% / 0.15);
  border-radius: 50%;
  padding: 0.4rem;
  transition: background-color 0.3s ease-in-out 0s;
}

.footer__social-link:hover {
  background-color: var(--color-blue);
}

.footer__social-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: var(--color-blue);
  transition: fill 0.15s ease-in-out 0s;
}

.footer__social-link:hover .footer__social-icon {
  fill: white;
}

.footer__copyright {
  font-size: 0.625rem;
  color: var(--color-gray);
}
